<nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container">
    <div class="navbar-brand"> <strong>Ultimate Rock Paper Scissors</strong></div>

    <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarOptions">
        <span class="navbar-toggler-icon"></span>
    </button> -->

    <!--The navbar will have 3 options: How to Play, Battle Grounds, and Results-->
    <div class="collapse navbar-collapse" id="navbarOptions">
        <ul class="navbar-nav ms-auto">
        <li class="nav-item">
            <a class="nav-link active" routerLink="">About</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" routerLink="/battle">Battle Ground</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" routerLink="/result">Results</a>
        </li>
        </ul>
    </div>
    </div>
</nav>