<body>

    <!-- Title -->
    <header>
        <img src="../../assets/images/rpscopy.jpg" alt="image" class="center" height="350">
        <h1 class="text-center" style="padding-top:3%">Ultimate Rock Paper Scissors</h1>
    </header>

    <!-- Description about my game -->
    <main>
        <div class="text-center">
            <span>This is a variation on the hit game "Rock, Paper, Scissors" that allows you to throw 7 different actions</span> <br>
            <span>Test your skills against another opponent and prove your worth in this new, more challenging version of Rock Paper Scissors!</span> <br>
            <span>The Battle Ground page takes you to the main game. The Results page shows you all past matches played with your opponent and the winners of those bouts</span> <br>
            <span>There is a control for the background music on the bottom right of the Battle Ground page if you so wish to listen</span> 
        </div>
    </main>

</body>

